<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 开启属性注解扫描 -->
	<context:annotation-config />
	<!-- 引入外部属性文件===============================
	<context:property-placeholder location="classpath:jdbc.properties"/> 
	<property name="driverClass" value="${jdbc.driverClass}"/>
	-->
	<!-- c3P0 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://118.24.168.86:33060/crm1" />
		<property name="user" value="root"/>
		<property name="password" value="gmcc123$%^"/>
	</bean>
	
	<!-- localsessionFactoryBean 配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/dhj/domain/User.hbm.xml</value>
				<value>com/dhj/domain/Customer.hbm.xml</value>
				<value>com/dhj/domain/Dict.hbm.xml</value>
				<value>com/dhj/domain/Linkman.hbm.xml</value>
				<value>com/dhj/domain/SaleVisit.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置用户模块 -->
	<bean id="userAction" class="com.dhj.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="userService" class="com.dhj.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userDao" class="com.dhj.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置客户模块  action都是多例的！！！！！-->
	<bean id="customerActon" class="com.dhj.web.action.CustomerActon" scope="prototype">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<bean id="customerService" class="com.dhj.service.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	<bean id="customerDao" class="com.dhj.dao.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置字典模块 -->
	<bean id="dictAction" class="com.dhj.web.action.DictAction" scope="prototype">
		<property name="dictService" ref="dictService"></property>
	</bean>
	<bean id="dictService" class="com.dhj.service.DictServiceImpl">
		<property name="dictDao" ref="dictDao"></property>
	</bean>
	<bean id="dictDao" class="com.dhj.dao.DictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置联系人模块 -->
	<bean id="linkmanAction" class="com.dhj.web.action.LinkmanAction" scope="prototype">
		<property name="linkmanService" ref="linkmanService"/>
	</bean>
	<bean id="linkmanService" class="com.dhj.service.LinkmanServiceImpl">
		<property name="linkmanDao" ref="linkmanDao"/>
	</bean>
	<bean id="linkmanDao" class="com.dhj.dao.LinkmanDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置用户拜访模块      action 多例！！！-->
	<bean id="saleVisitAction" class="com.dhj.web.action.SaleVisitAction" scope="prototype"></bean>
	<bean id="saleVisitService" class="com.dhj.service.SaleVisitServiceImpl"></bean>
	<bean id="saleVisitDao" class="com.dhj.dao.SaleVisitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>












